data:
    name: homographies
    data_dir: revisitop1m
    train_size: 150000
    val_size: 2000
    batch_size: 128
    num_workers: 8
    prefetch_factor: 4
    homography:
        difficulty: 0.7
        max_angle: 45
    photometric:
        name: lg

    fisheye:
        apply_fisheye: true
        random_params: true
        fx_range: [300.0, 800.0]
        fy_range: [300.0, 600.0]
        cx_range: [300.0, 340.0]
        cy_range: [220.0, 260.0]
        k1_range: [-0.5, 2.5]
        k2_range: [-0.1, 0.1]
        k3_range: [-0.01, 0.01]
        k4_range: [-0.001, 0.001]
        fx: 500.0
        fy: 500.0
        cx: 320.0
        cy: 240.0
        D: [-0.5, 0.0, 0.00, 0.00]

        
    
model:
    name: two_view_pipeline
    extractor:
        name: extractors.xfeat
        max_num_keypoints: 512
        force_num_keypoints: True
        detection_threshold: 0.05
        trainable: False
    ground_truth:
        name: matchers.homography_matcher
        th_positive: 3
        th_negative: 3
    matcher:
        name: matchers.lightglue
        filter_threshold: 0.1
        flash: false
        checkpointed: true
        input_dim: 64
        descriptor_dim: 64
train:
    seed: 0
    epochs: 40
    log_every_iter: 100
    eval_every_iter: 500
    keep_last_checkpoints: 10
    lr: 1e-4
    lr_schedule:
        start: 20
        type: exp
        on_epoch: true
        exp_div_10: 10
    plot: [5, 'gluefactory.visualization.visualize_batch.make_match_figures']
benchmarks:
    hpatches:
      eval:
        estimator: opencv
        ransac_th: 0.5 